@import "tailwindcss";

@font-face {
  font-family: 'GoogleSans';
  src: url('/fonts/ProductSans-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
}


body {
  font-family: 'GoogleSans', sans-serif;
}